/* src/components/turkey-map/MapComponent.module.css */
.mapContainer {
  height: 100%;
  width: 100%;
  background-color: var(--map-background);
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}

.mapRoot {
  height: var(--map-height);
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #e2e8f0;
}
